body
{
    color: bisque;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.pan
{
    color: black;
}
#container
{
    background-color: cornflowerblue;
    border-radius: 15px;
    padding: 1em;
    width: 70%;
    border: 1px solid gray;
    margin: 0 auto;
}